# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
*.egg-info/
.installed.cfg
*.egg

# Virtual environment directories
env/
venv/
ENV/
venv/
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# MyPy cache
.mypy_cache/

# Logs
*.log
*.out
*.err

# IDE / Editor specific
.vscode/
.idea/
*.swp
*.swo
*.swn

# macOS specific files
.DS_Store

# Linux specific files
*~

